@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFA27F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dices {
    display: flex;
    gap: 2.5rem;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 5rem;
    font-family: "Playwrite AU TAS", cursive;
    color: #C40C0C;
}

.container h2 {
    font-size: 2.5rem;
    font-family: "Playwrite AU TAS";
    color: #060047;
}

div.dice > p {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #060047;
}

.dice img {
    width: 80%;
}

.btn {
    margin-top: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 800;
    background-color: rgba(93, 156, 89, 1);
}

.btn:hover {
    background-color: rgba(93, 156, 89, 0.8);
}

.btn:active {
    background-color: rgba(219, 50, 20, 0.8);
}